:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --color-btn-primery: #2196f3;
  --color-logo-stodio: #000000;
  --trans: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  letter-spacing: 0.03em;
  line-height: 1.71;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  color: var(--primary-text-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

address {
  font-style: normal;
}

a {
  color: currentColor;
  text-decoration: none;
}

section {
  text-align: center;
}

img {
  display: block;
  width: 100%;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.button.secondary {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border: transparent;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  min-width: 73px;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
  transition: background-color var(--trans), color var(--trans), box-shadow var(--trans);
}
.button.secondary:hover, .button.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--color-btn-primery);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: transparent;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity var(--trans), visibility var(--trans);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  position: absolute;
  border-radius: 4px;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform var(--trans), border-radius var(--trans);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(-360deg);
  border-radius: 70%;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.input-wrap {
  position: relative;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-field-text {
  margin-bottom: 30px;
  margin-left: 9px;
}

.modal-field-comment {
  margin-bottom: 20px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  padding-left: 35px;
  color: #757575;
  outline: transparent;
  transition: border-color var(--trans);
}
.modal-input:focus {
  border-color: var(--accent-color);
}
.modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}
.modal-input::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
}
.modal-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
}
.modal-input::placeholder {
  font-weight: 400;
  font-size: 12px;
}

.modal-close {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: border-color var(--trans);
}
.modal-close:hover {
  border-color: var(--accent-color);
}
.modal-close:focus {
  border-color: var(--accent-color);
  outline: transparent;
}

.modal-close-icon {
  transition: fill var(--trans);
}
.modal-close:hover .modal-close-icon {
  fill: var(--accent-color);
}
.modal-close:focus .modal-close-icon {
  fill: var(--accent-color);
}

.modal-text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.input-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}
.input-label:focus {
  border-color: var(--accent-color);
}

.input-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
}
.modal-text:focus {
  border-color: var(--accent-color);
}
.modal-text::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
}
.modal-text:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
}
.modal-text::placeholder {
  font-weight: 400;
  font-size: 12px;
}

.check-text {
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 4px;
  margin-right: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: var(--trans);
}
.input-checkbox:checked + .check-text {
  background-color: var(--accent-color);
  border-color: transparent;
  fill: var(--primary-white-color);
}

/*.check-text::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  margin-right: 9px;
}
.input-checkbox:checked + .check-text::before {
  background-color: var(--accent-color);
  border-color: transparent;
  background-image: url(../images/check-mark.svg);
  background-repeat: no-repeat;
}*/
/* .modal-input:not(:focus):not(:placeholder-shown):valid {
  background-color: rgba(0, 128, 0, 0.373);
}
.modal-input:not(:focus):not(:placeholder-shown):invalid {
  background-color: rgba(128, 32, 0, 0.373);
} */
.modal-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--trans);
}

/*.modal-field .checkbox {
  margin-bottom: 30px;
}*/
.modal-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  padding-top: 10px;
  padding-right: 52px;
  padding-bottom: 10px;
  padding-left: 52px;
  color: var(--primary-white-color);
  background-color: var(--color-btn-primery);
  border-radius: 4px;
  transition: box-shadow var(--trans);
  border-color: transparent;
}
.modal-button:hover, .modal-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: transparent;
}

.modal-link {
  text-decoration: underline;
  padding-left: 8px;
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid #ececec;
  text-align: center;
}

.header__container {
  display: flex;
}

.header__navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  min-width: 145px;
  outline: transparent;
  color: var(--primary-text-color);
}

.logo__web {
  color: var(--accent-color);
  outline: transparent;
}

.logo__studio {
  color: var(--color-logo-stodio);
  outline: transparent;
}

.menu__list {
  display: flex;
  margin-left: 93px;
}
.menu__list .item + .item {
  margin-left: 50px;
}

.menu__list .link {
  padding-top: 25px;
  padding-bottom: 25px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--trans);
}
.menu__list .link:hover, .menu__list .link:focus {
  color: var(--accent-color);
  outline: transparent;
}
.menu__list .link.current {
  color: var(--accent-color);
}
.menu__list .link.current::before {
  content: "";
  min-width: 48px;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  top: 63px;
  background-color: var(--accent-color);
}
.menu__list .link.current.portfolio::before {
  content: "";
  min-width: 78px;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  top: 63px;
  background-color: var(--accent-color);
}

/*.site-nav .item:not(:last-child) {
  margin-right: 50px;
}*/
.contacts__list {
  display: flex;
  margin-left: auto;
}
.contacts__list .item + .item {
  margin-left: 50px;
  gap: 10px;
}

.contacts__list .link {
  display: flex;
  margin-left: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: center;
  justify-content: center;
  color: var(--title-text-color);
  transition: color var(--trans);
}
.contacts__list .link:hover, .contacts__list .link:focus {
  color: var(--accent-color);
  outline: transparent;
}

.contacts-email {
  gap: 10px;
}

.contacts-email-icon {
  align-items: center;
  justify-content: center;
  fill: currentColor;
}

.contacts-tel {
  gap: 10px;
}

.contacts-tel-icon {
  align-items: center;
  justify-content: center;
  fill: currentColor;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
}

.hero-title {
  color: var(--primary-white-color);
  margin-bottom: 30px;
  margin-top: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button.hero {
  color: var(--secondary-text-color);
  background-color: var(--color-btn-primery);
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  min-width: 73px;
  text-align: center;
  font-family: inherit;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--trans), color var(--trans);
}
.button.hero:hover, .button.hero:focus {
  color: var(--primary-text-color);
  background-color: var(--title-text-color);
  outline: transparent;
}

.overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
}

.cardlist {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.cardlist__list {
  display: flex;
}
.cardlist__list .item + .item {
  margin-left: 30px;
}
.cardlist__list .title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.cardlist__list .item {
  width: 270px;
  text-align: left;
}
.cardlist__list .text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.cardlist__icon-item {
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
}

.cardlist__icon-img {
  align-items: center;
  justify-content: center;
}

.job {
  display: none;
}
@media screen and (min-width: 1200px) {
  .job {
    display: block;
    padding-top: 0;
  }
}

.job-list {
  display: flex;
  justify-content: space-between;
}
.job-list__item {
  min-width: 370px;
}
.job-list__thumb {
  position: relative;
}
.job-list__label {
  position: absolute;
  width: 100%;
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
  transform: translateY(-100%);
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
}
.team-list .item + .item {
  margin-left: 30px;
}
.team-list .title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-list .text {
  color: var(--title-text-color);
  margin-bottom: 16px;
  line-height: 1.19;
}

.team .title {
  margin-bottom: 10px;
}

.team .item {
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team-img {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-soc-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.team-soc-item {
  width: 44px;
  height: 44px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color var(--trans);
  fill: #afb1b8;
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: var(--accent-color);
  outline: none;
}

.team-soc-icon {
  transition: fill var(--trans);
}
.team-soc-link:hover .team-soc-icon, .team-soc-link:focus .team-soc-icon {
  fill: var(--primary-white-color);
}

.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-list {
  display: flex;
  gap: 30px;
}

.customers-item {
  width: calc((100% - 150px) / 6);
  height: 90px;
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition: border-color var(--trans);
}
.customers-link:hover, .customers-link:focus {
  border-color: var(--accent-color);
  outline: none;
}

.customers-soc-icon {
  transition: fill var(--trans);
}
.customers-link:hover .customers-soc-icon, .customers-link:focus .customers-soc-icon {
  fill: var(--accent-color);
}

.work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-btn-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
.work-btn-list .item + .item {
  margin-left: 8px;
}

.work-title {
  margin-bottom: 4px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.work-list .item:nth-child(3n) {
  margin-right: 0;
}
.work-list .item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.work-link {
  display: block;
  text-decoration: none;
  transition: box-shadow var(--trans);
}
.work-link:hover, .work-link:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
  outline: transparent;
}

.work-top-wrap {
  position: relative;
  transition: box-shadow var(--trans);
  overflow: hidden;
}
.work-link:hover .work-top-wrap, .work-link:focus .work-top-wrap {
  transform: translateY(0);
  transition: transform var(--trans);
}

.work-img {
  display: block;
}

.work-title {
  color: var(--primary-text-color);
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-text {
  color: var(--title-text-color);
  line-height: 1.9;
}

.work-top-text {
  position: absolute;
  top: 0;
  padding: 63px 24px;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);
  transform: translateY(100%);
  transition: var(--trans), color var(--trans), background-color var(--trans);
  overflow: auto;
}

.work-card {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  text-align: left;
  margin-top: 0;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer > .container {
  display: flex;
  align-items: baseline;
}

.footer-contact {
  -moz-text-align-last: left;
       text-align-last: left;
}

.address-list .link {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.address-list .item {
  margin-bottom: 9px;
}

.footer .link {
  transition: background-color var(--trans), color var(--trans);
}
.footer .link:hover, .footer .link:focus {
  color: var(--accent-color);
  outline: transparent;
}

.addres-list.footer-tel {
  margin-bottom: 0;
}

.footer-mail,
.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--trans);
}
.footer-mail:hover, .footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
  outline: transparent;
}

.footer-soc-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-soc-list {
  display: flex;
  gap: 10px;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
}

.footer-soc {
  margin-left: auto;
}

.footer-soc-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: #ffffff;
}
.footer-soc-link:hover, .footer-soc-link:focus {
  background-color: var(--accent-color);
  outline: none;
}

.footer-soc-icon {
  align-items: center;
  justify-content: center;
  transition: fill var(--trans);
}
.footer-soc-link:hover .footer-soc-icon, .footer-soc-link:focus .footer-soc-icon {
  fill: var(--primary-white-color);
}

.studio.footer {
  color: var(--primary-white-color);
}

.logo.address {
  display: block;
  margin-bottom: 20px;
}

.online {
  margin-left: 93px;
}

.online-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

.online-form {
  display: flex;
  margin-left: auto;
}

.online-input {
  min-width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transform: var(--trans);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}

.online-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 12px;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 28px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--color-btn-primery);
  border-radius: 4px;
  transition: var(--trans);
  border-color: transparent;
  border: none;
  outline: transparent;
}
.online-btn:hover, .online-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.online-btn-icon {
  margin-left: 10px;
  align-items: center;
  /*padding-left: 10px;
  padding-top: 13px;*/
  fill: var(--primary-white-color);
}/*# sourceMappingURL=main.css.map */