:root {
  --examples-gap: 30px;
  --bg-gradient: linear-gradient(
    to bottom,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  );
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --color-btn-primery: #2196f3;
  --color-logo-stodio: #000000;
  --button-color: #188ce8;
  --trans: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --white-color: #ffffff;
  --logo-dark-color: #000000;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.contacts__link, .header__container, .navigation__menu {
  display: flex;
  align-items: center;
}

.cardlist-list__box, .menu-close, .soc-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  letter-spacing: 0.03em;
  line-height: 1.71;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  color: var(--primary-text-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

address {
  font-style: normal;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: 0;
}

section {
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.button.secondary {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border: transparent;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  min-width: 73px;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
  transition: background-color var(--trans), color var(--trans), box-shadow var(--trans);
}
.button.secondary:hover, .button.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--color-btn-primery);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: transparent;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity var(--trans), visibility var(--trans);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  position: absolute;
  border-radius: 4px;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform var(--trans), border-radius var(--trans);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(-360deg);
  border-radius: 70%;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.input-wrap {
  position: relative;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-field-text {
  margin-bottom: 30px;
  margin-left: 9px;
}

.modal-field-comment {
  margin-bottom: 20px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  padding-left: 35px;
  color: #757575;
  outline: transparent;
  transition: border-color var(--trans);
}
.modal-input:focus {
  border-color: var(--accent-color);
}
.modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}
.modal-input::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
}
.modal-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
}
.modal-input::placeholder {
  font-weight: 400;
  font-size: 12px;
}

.modal-close {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: border-color var(--trans);
}
.modal-close:hover {
  border-color: var(--accent-color);
}
.modal-close:focus {
  border-color: var(--accent-color);
  outline: transparent;
}

.modal-close-icon {
  transition: fill var(--trans);
}
.modal-close:hover .modal-close-icon {
  fill: var(--accent-color);
}
.modal-close:focus .modal-close-icon {
  fill: var(--accent-color);
}

.modal-text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.input-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
}
.input-label:focus {
  border-color: var(--accent-color);
}

.input-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
}
.modal-text:focus {
  border-color: var(--accent-color);
}
.modal-text::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
}
.modal-text:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
}
.modal-text::placeholder {
  font-weight: 400;
  font-size: 12px;
}

.check-text {
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 4px;
  margin-right: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: var(--trans);
}
.input-checkbox:checked + .check-text {
  background-color: var(--accent-color);
  border-color: transparent;
  fill: var(--primary-white-color);
}

/*.check-text::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  margin-right: 9px;
}
.input-checkbox:checked + .check-text::before {
  background-color: var(--accent-color);
  border-color: transparent;
  background-image: url(../images/check-mark.svg);
  background-repeat: no-repeat;
}*/
/* .modal-input:not(:focus):not(:placeholder-shown):valid {
  background-color: rgba(0, 128, 0, 0.373);
}
.modal-input:not(:focus):not(:placeholder-shown):invalid {
  background-color: rgba(128, 32, 0, 0.373);
} */
.modal-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--trans);
}

/*.modal-field .checkbox {
  margin-bottom: 30px;
}*/
.modal-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  padding-top: 10px;
  padding-right: 52px;
  padding-bottom: 10px;
  padding-left: 52px;
  color: var(--primary-white-color);
  background-color: var(--color-btn-primery);
  border-radius: 4px;
  transition: box-shadow var(--trans);
  border-color: transparent;
}
.modal-button:hover, .modal-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: transparent;
}

.modal-link {
  text-decoration: underline;
  padding-left: 8px;
  color: var(--accent-color);
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-color: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--trans);
}
.button:hover, .button:focus {
  background-color: var(--button-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.1923076923;
  }
}
.logo__accent {
  color: var(--accent-color);
}
.logo--dark {
  color: var(--logo-dark-color);
}
.logo--white {
  color: var(--white-color);
}

.navigation {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .navigation--header {
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation--header {
    margin-left: 93px;
  }
}
.navigation__menu {
  gap: 50px;
}
.navigation__link {
  position: relative;
  display: block;
  padding: 32px 0;
}
.navigation__link--current {
  color: var(--accent-color);
}
.navigation__link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 4px;
  width: 100%;
  display: block;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.soc-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.soc-list__item {
  width: 44px;
  height: 44px;
}
.soc-list__link {
  width: 100%;
  height: 100%;
  color: #afb1b8;
  background-color: inherit;
  border-radius: 50%;
  transition: color var(--trans), background-color var(--trans);
}
.soc-list__link:hover, .soc-list__link:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
.soc-list__icon {
  fill: currentColor;
}

.link-main {
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color var(--trans);
}
.link-main:hover, .link-main:focus {
  color: var(--accent-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}
.header__container {
  min-height: 60px;
}
@media screen and (min-width: 768px) {
  .header__container {
    min-height: 80px;
  }
}

.contacts {
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
}
.contacts__link {
  color: var(--title-text-color);
}
@media screen and (min-width: 768px) {
  .contacts__link {
    gap: 8px;
    padding: 1px 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    gap: 10px;
    padding: 32px 0;
  }
}
.contacts__icon {
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .contacts-tel-icon {
    width: 10px;
    height: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-email-icon {
    width: 16px;
    height: 12px;
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.02em;
  transform: translateX(100%);
  transition: var(--trans);
}
.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 480px) {
  .mob-menu-list {
    gap: 32px;
  }
}
.mob-menu-link {
  font-size: 26px;
  line-height: 1.1923076923;
}
@media screen and (min-width: 480px) {
  .mob-menu-link {
    font-size: 40px;
    line-height: 1.175;
  }
}
.mob-menu-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
.mob-menu.is-open {
  transform: translateX(0);
}

.menu-open {
  padding: 0;
  margin-left: auto;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  transition: color var(--trans);
  border: none;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}
.menu-open__icon {
  fill: currentColor;
}
.menu-open:hover, .menu-open:focus {
  color: var(--accent-color);
}

.menu-close {
  position: absolute;
  right: 15px;
  top: 10px;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border-color: transparent;
  transition: color var(--trans);
  border: none;
}
.menu-close-icon {
  fill: currentColor;
}
.menu-close:hover, .menu-close:focus {
  color: var(--accent-color);
}

.mob-contacts-container {
  margin-top: 16px;
}

.mob-contacts {
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;
  margin-bottom: 32px;
  outline: transparent;
}
@media screen and (min-width: 480px) {
  .mob-contacts {
    gap: 32px;
    margin-bottom: 64px;
  }
}
.mob-contacts-email {
  font-size: 16px;
  line-height: 1.1875;
  color: var(--title-text-color);
}
@media screen and (min-width: 480px) {
  .mob-contacts-email {
    font-size: 24px;
    line-height: 1.1666666667;
  }
}
.mob-contacts-phone {
  font-size: 22px;
  line-height: 1.1818181818;
  color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .mob-contacts-phone {
    font-size: 34px;
    line-height: 1.1764705882;
  }
}

.mob-soc-list {
  display: flex;
  gap: 10px;
}
@media screen and (min-width: 480px) {
  .mob-soc-list {
    gap: 20px;
  }
}

.mob-soc-item {
  position: relative;
}
.mob-soc-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: -5px;
  width: 1px;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.2);
}
@media screen and (min-width: 480px) {
  .mob-soc-item:not(:last-child)::after {
    right: -10px;
  }
}
@media screen and (min-width: 480px) {
  .mob-soc-item:not(:last-child)::after {
    font-size: 18px;
    line-height: 1.2222222222;
  }
}

.mob-soc-link {
  font-size: 12px;
  line-height: 1.25;
  color: var(--accent-color);
}

.hero {
  padding-top: 0;
  padding-bottom: 0;
}
.hero__overlay {
  max-width: 480px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #c4c4c4;
  background-image: var(--bg-gradient), url("../images/hero-mob.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: var(--bg-gradient), url("../images/hero-mob-2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero__overlay {
    max-width: 768px;
    background-image: var(--bg-gradient), url("../images/hero-tab.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: var(--bg-gradient), url("../images/hero-tab-2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero__overlay {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: var(--bg-gradient), url("../images/img-hero.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: var(--bg-gradient), url("../images/hero-desk-2x.jpg");
  }
}
.hero__title {
  margin: 0 auto 30px auto;
  max-width: 100%;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.6111111111;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
@media screen and (min-width: 480px) {
  .hero__title {
    max-width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6153846154;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.3636363636;
  }
}
.hero__button {
  display: block;
  margin: 0 auto;
  padding: 10px 24px;
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 32px;
  }
}

.cardlist-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.cardlist-list__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .cardlist-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .cardlist-list__item {
    width: calc((100% - 90px) / 4);
  }
}
.cardlist-list__title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--title-text-color);
}
@media screen and (min-width: 768px) {
  .cardlist-list__title {
    text-align: start;
  }
}
.cardlist-list__box {
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.job {
  display: none;
}
@media screen and (min-width: 1200px) {
  .job {
    display: block;
    padding-top: 0;
  }
}

.job-list {
  display: flex;
  justify-content: space-between;
}
.job-list__item {
  min-width: 370px;
}
.job-list__thumb {
  position: relative;
}
.job-list__label {
  position: absolute;
  width: 100%;
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
  transform: translateY(-100%);
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
}
.team-list .item + .item {
  margin-left: 30px;
}
.team-list .title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-list .text {
  color: var(--title-text-color);
  margin-bottom: 16px;
  line-height: 1.19;
}

.team .title {
  margin-bottom: 10px;
}

.team .item {
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team-img {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-soc-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.team-soc-item {
  width: 44px;
  height: 44px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color var(--trans);
  fill: #afb1b8;
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: var(--accent-color);
  outline: none;
}

.team-soc-icon {
  transition: fill var(--trans);
}
.team-soc-link:hover .team-soc-icon, .team-soc-link:focus .team-soc-icon {
  fill: var(--primary-white-color);
}

.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-list {
  display: flex;
  gap: 30px;
}

.customers-item {
  width: calc((100% - 150px) / 6);
  height: 90px;
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition: border-color var(--trans);
}
.customers-link:hover, .customers-link:focus {
  border-color: var(--accent-color);
  outline: none;
}

.customers-soc-icon {
  transition: fill var(--trans);
}
.customers-link:hover .customers-soc-icon, .customers-link:focus .customers-soc-icon {
  fill: var(--accent-color);
}

.work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-btn-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
.work-btn-list .item + .item {
  margin-left: 8px;
}

.work-title {
  margin-bottom: 4px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.work-list .item:nth-child(3n) {
  margin-right: 0;
}
.work-list .item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.work-link {
  display: block;
  text-decoration: none;
  transition: box-shadow var(--trans);
}
.work-link:hover, .work-link:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
  outline: transparent;
}

.work-top-wrap {
  position: relative;
  transition: box-shadow var(--trans);
  overflow: hidden;
}
.work-link:hover .work-top-wrap, .work-link:focus .work-top-wrap {
  transform: translateY(0);
  transition: transform var(--trans);
}

.work-img {
  display: block;
}

.work-title {
  color: var(--primary-text-color);
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-text {
  color: var(--title-text-color);
  line-height: 1.9;
}

.work-top-text {
  position: absolute;
  top: 0;
  padding: 63px 24px;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);
  transform: translateY(100%);
  transition: var(--trans), color var(--trans), background-color var(--trans);
  overflow: auto;
}

.work-card {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  text-align: left;
  margin-top: 0;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer > .container {
  display: flex;
  align-items: baseline;
}

.footer-contact {
  -moz-text-align-last: left;
       text-align-last: left;
}

.address-list .link {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.address-list .item {
  margin-bottom: 9px;
}

.footer .link {
  transition: background-color var(--trans), color var(--trans);
}
.footer .link:hover, .footer .link:focus {
  color: var(--accent-color);
  outline: transparent;
}

.addres-list.footer-tel {
  margin-bottom: 0;
}

.footer-mail,
.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--trans);
}
.footer-mail:hover, .footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
  outline: transparent;
}

.footer-soc-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-soc-list {
  display: flex;
  gap: 10px;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
}

.footer-soc {
  margin-left: auto;
}

.footer-soc-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: #ffffff;
}
.footer-soc-link:hover, .footer-soc-link:focus {
  background-color: var(--accent-color);
  outline: none;
}

.footer-soc-icon {
  align-items: center;
  justify-content: center;
  transition: fill var(--trans);
}
.footer-soc-link:hover .footer-soc-icon, .footer-soc-link:focus .footer-soc-icon {
  fill: var(--primary-white-color);
}

.studio.footer {
  color: var(--primary-white-color);
}

.logo.address {
  display: block;
  margin-bottom: 20px;
}

.online {
  margin-left: 93px;
}

.online-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

.online-form {
  display: flex;
  margin-left: auto;
}

.online-input {
  min-width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transform: var(--trans);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}

.online-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 12px;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 28px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--color-btn-primery);
  border-radius: 4px;
  transition: var(--trans);
  border-color: transparent;
  border: none;
  outline: transparent;
}
.online-btn:hover, .online-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.online-btn-icon {
  margin-left: 10px;
  align-items: center;
  /*padding-left: 10px;
  padding-top: 13px;*/
  fill: var(--primary-white-color);
}/*# sourceMappingURL=main.css.map */