.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background-color: #ffffff;
  border-bottom: 1px solid #ececec;

  &__container {
    @extend %flex-centered;
    min-height: 60px;

    @include tablet {
      min-height: 80px;
    }
  }
}

.contacts {
  display: none;
  margin-left: auto;

  @include tablet {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  @include desktop {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  &__link {
    @extend %flex-centered;
    color: var(--title-text-color);

    @include tablet {
      gap: 8px;
      padding: 1px 0;
    }
    @include desktop {
      gap: 10px;
      padding: 32px 0;
    }
  }

  &__icon {
    fill: currentColor;
  }
}

.contacts-tel-icon {
  @include desktop {
    width: 10px;
    height: 16px;
  }
}

.contacts-email-icon {
  @include desktop {
    width: 16px;
    height: 12px;
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  z-index: 999;

  width: 100vw;
  height: 100vh;
  padding: 48px 40px;

  background-color: #ffffff;
  font-weight: 500;
  letter-spacing: 0.02em;

  &-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @include mobile {
      gap: 32px;
    }
  }

  &-link {
    @include font(null, 26px, calc(31 / 26), null);
    @include mobile {
      @include font(null, 40px, calc(47 / 40), null);
    }
  }
  &-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }
  &.is-open {
    transform: translateX(0);
  }
  transform: translateX(100%);
  transition: var(--trans);
}

.menu-open {
  padding: 0;
  margin-left: auto;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;

  background-color: transparent;

  transition: color var(--trans);

  @include tablet {
    display: none;
  }

  &__icon {
    fill: currentColor;
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  border: none;
}

.menu-close {
  position: absolute;
  right: 15px;
  top: 10px;

  @extend %full-flex-centered;
  width: 40px;
  height: 40px;
  padding: 0;

  background-color: transparent;
  border-color: transparent;
  transition: color var(--trans);

  &-icon {
    fill: currentColor;
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  border: none;
}

.mob-contacts-container {
  margin-top: 16px;
}

.mob-contacts {
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;
  margin-bottom: 32px;
  @include mobile {
    gap: 32px;
    margin-bottom: 64px;
  }

  &-email {
    @include font(null, 16px, calc(19 / 16), null);
    color: var(--title-text-color);
    @include mobile {
      @include font(null, 24px, calc(28 / 24), null);
    }
  }

  &-phone {
    @include font(null, 22px, calc(26 / 22), null);
    color: var(--accent-color);
    @include mobile {
      @include font(null, 34px, calc(40 / 34), null);
    }
  }
  outline: transparent;
}

.mob-soc-list {
  display: flex;
  gap: 10px;
  @include mobile {
    gap: 20px;
  }
}

.mob-soc-item {
  position: relative;

  &:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    width: 1px;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.2);
    @include mobile {
      right: -10px;
    }
    @include mobile {
      @include font(null, 18px, calc(22 / 18), null);
    }
  }
}

.mob-soc-link {
  @include font(null, 12px, calc(15 / 12), null);
  color: var(--accent-color);
}

//.header {
//  border-bottom: 1px solid #ececec;
//  text-align: center;
//}

//.header__container {
//  display: flex;
//}
//.header__navigation {
//  display: flex;
//  align-items: center;
//}
//.logo {
//  font-family: 'Raleway', sans-serif;
//  font-weight: 700;
//  font-size: 26px;
//  line-height: 1.19;
//  min-width: 145px;
//  outline: transparent;
//  color: var(--primary-text-color);
//}
//.logo__web {
//  color: var(--accent-color);
//  outline: transparent;
//}
//.logo__studio {
//  color: var(--color-logo-stodio);
//  outline: transparent;
//}

//.menu__list{
//  display: flex;
//  margin-left: 93px;
//  & .item + .item {
//    margin-left: 50px;
//  }
//}

//.menu__list .link {
//  padding-top: 25px;
//  padding-bottom: 25px;
//  color: var(--primary-text-color);
//  font-weight: 500;
//  font-size: 14px;
//  line-height: 1.14;
//  letter-spacing: 0.02em;
//  transition: color var(--trans);
//  &:hover,
//  &:focus {
//    color: var(--accent-color);
//    outline: transparent;
//  }
//  &.current {
//    color: var(--accent-color);
//  }
//  &.current::before {
//    content: '';
//    min-width: 48px;
//    height: 4px;
//    border-radius: 2px;
//    position: absolute;
//    top: 63px;
//    background-color: var(--accent-color);
//  }
//  &.current.portfolio::before {
//    content: '';
//    min-width: 78px;
//    height: 4px;
//    border-radius: 2px;
//    position: absolute;
//    top: 63px;
//    background-color: var(--accent-color);
//  }
//}

///*.site-nav .item:not(:last-child) {
//  margin-right: 50px;
//}*/

//.contacts__list {
//  display: flex;
//  margin-left: auto;
//  & .item + .item {
//    margin-left: 50px;
//    gap: 10px;
//  }
//}

//.contacts__list .link {
//  display: flex;
//  margin-left: auto;
//  padding-top: 25px;
//  padding-bottom: 25px;
//  font-weight: 500;
//  font-size: 14px;
//  line-height: 1.14;
//  letter-spacing: 0.02em;
//  align-items: center;
//  justify-content: center;
//  color: var(--title-text-color);
//  transition: color var(--trans);
//  &:hover,
//  &:focus {
//    color: var(--accent-color);
//    outline: transparent;
//  }
//}

//.contacts-email {
// gap: 10px;
//}

//.contacts-email-icon {
//  align-items: center;
//  justify-content: center;
//  fill: currentColor;
//}

//.contacts-tel {
// gap: 10px;
//}

//.contacts-tel-icon {
//  align-items: center;
//  justify-content: center;
//  fill: currentColor;
//}
